HOST=0.0.0.0
PORT=8766

PIPER_BIN=<PATH_TO_PIPER>/piper/bin/piper
PIPER_LD_LIBRARY_PATH=<PATH_TO_PIPER>/piper/lib
PIPER_MODEL_PATH=<PATH_TO_MODEL>/models/tsukuyomi-chan-6lang-fp16.onnx

OUTPUT_DIR=./outputs

PIPER_SPEAKER=0
PIPER_LENGTH_SCALE=1.0
PIPER_NOISE_SCALE=0.5
PIPER_NOISE_W=0.8
PIPER_SENTENCE_SILENCE=0.2